<div class = "container">
  <h3> Showing the use of ng-table </h3>
  <table ng-table="tableParams" class="table">
          <tr ng-repeat="user in myValues">
              <td data-title="'Name'" sortable="'name'">
                  {{user.name}}
              </td>
              <td data-title="'Age'" sortable="'age'">
                  {{user.age}}
              </td>
          </tr>
  </table>
</div>
<div class = "container">
  <h3> Showing the use of ng-table [Reading the json file] </h3>
  <table ng-table="tableParamsFromJSONFile" class="table">
          <tr ng-repeat="user in jsonReadFromFile">
              <td data-title="'ID'" sortable="'id'">
                  {{user.id}}
              </td>
              <td data-title="'FirstName'" sortable="'first_name'">
                  {{user.first_name}}
              </td>
              <td data-title="'Last Name'" sortable="'last_name'">
                  {{user.last_name}}
              </td>
              <td data-title="'Email'" sortable="'email'">
                  {{user.email}}
              </td>
              <td data-title="'Country'" sortable="'country'">
                  {{user.country}}
              </td>
              <td data-title="'IP Address'" sortable="'ip_address'">
                  {{user.ip_address}}
              </td>
          </tr>
  </table>
</div>
